<%- include ./partials/header.ejs %>

    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Roar-linkedIN!@</h2>
        <h4>About Us page!!!!</h4>
        <p>We will soon be up!!</p>
        <p></p>
      </div>


<%- include ./partials/footer.ejs %>