<%- include ./partials/header.ejs %>

    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Roar-linkedIN!</h2>
        <p>We will soon be up!!</p>
        <p>Aren't you excited!!!!</p>
        <p>Be Excited!!!</p>
        <p></p>
      </div>


<%- include ./partials/footer.ejs %>